<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>View Sighting</title>
</head>
    <header class="bg-success p-5">
        <div class="display-3 text-bg-light text-center p-5">
            Sasquatch Websighting
            <h4>The truth is out there...</h4>
        </div>
        
    </header>
    <h5 class="text-center">Truth Seeker Logged In: {{user.first_name}}</h5>
    <body class="bg-light">
        <div class="d-flex justify-content-center gap-5">
            <div>
                {%for sighting in one_sighting%}
                <h3>{{sighting.location}} on {{sighting.date_seen}}</h3>
                <h5>What Happened:</h5>
                <p>{{sighting.what_happened}}</p>
                <h5>Number of Sasquatches: </h5>
                <p>{{sighting.num_sasquatches}}</p>
                <h5>Reported by:</h5>
                <p>{{session['first_name']}}</p>
                {%endfor%}
            </div>
            <div>
                <a class="text-light btn btn-success m-3" href="/dashboard">Dashboard</a>
                <a class="text-light btn btn-dark m-3" href="/logout">Logout</a>
            </div>
        </div>
    </body>
    </html>